@font-face {
    font-family: "JetSansDigital";
    src: url("/fonts/JetSansDigital/JETSansDigital-Regular-optimised.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetSansDigital";
    src: url("/fonts/JetSansDigital/JETSansDigital-Bold-optimised.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JetSansDigital";
    src: url("/fonts/JetSansDigital/JETSansDigital-ExtraBold-optimised.woff2")
        format("woff2");
    font-weight: 800;
    font-style: normal;
}
